
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,900&family=Lato:ital,wght@1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #afafaf;
}
h1{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 20px;
    text-shadow:  5px 5px 10px #464646,
                 -5px -5px 10px #ffffff;
}
.all{
    margin-left: 30px;
    display: grid;
	grid-template-columns: auto auto auto;
}
button{
    height: 20px;
    width: 40px;
    border: none;
    background-color: rgb(248, 201, 140);
}
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    margin:30px;
    background: linear-gradient(145deg, #bbbbbb, #9e9e9e);
    box-shadow:  5px 5px 10px #464646,
                -5px -5px 10px #e0e0e0;
}
.g1{
    background: linear-gradient(270deg, rgb(0,84,108),rgb(94, 81, 65),rgb(151,113,0));
}
.g2{
    background: linear-gradient(270deg, rgb(240,222,60),rgb(156,153,40),rgb(69,117,21));
}
.g3{
    background: linear-gradient(270deg, rgb(223, 150, 168),rgb(184, 107, 91),rgb(33,66,71));
}
.g4{
    background: linear-gradient(270deg,rgb(122,13,0),rgb(153, 81, 18),rgb(171,95,42) );
}
.g5{
    background: linear-gradient(270deg,rgb(184, 41, 86),rgb(177, 44, 66),rgb(133, 27, 44));
}
.g6{
    background: linear-gradient(270deg,rgb(239,191,36),rgb(212, 100, 1),rgb(142, 56, 2));
}
.g7{
    background: linear-gradient(270deg,rgb(184, 135, 90),rgb(158, 115, 62),rgb(107, 78, 53));
}
.g8{
    background: linear-gradient(270deg,rgb(244,70,196),rgb(226, 6, 72),rgb(249,41,84));
}
.g9{
    background: linear-gradient(270deg,rgb(244,194,120),rgb(181,124,23),rgb(61,93,20));
}
